body {
  background-color: rgba(0, 0, 0, 0.87);
  color: #f9f9f9;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

.not-found-content h1 {
  font-size: 100px;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

.not-found-content p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#go-back-btn {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
  color: #646cff;
  transition: 0.7s;
}
#go-back-btn:hover {
  background-color: #646cff;
  color: white;
}
