.register-form-wrapper {
  padding: 30px;
}

.register-form-wrapper h1 {
  padding: 15px 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-form input {
  padding: 10px;
}
.register-form button {
  background-color: black;
  cursor: pointer;
  padding: 10px 0;
  transition: 0.7s;
}
.register-form button:hover {
  background-color: whitesmoke;
  color: black;
}
