@import url("pages/NotFoundPage/notFoundPage.css");
@import url("components/RegisterForm/registerForm.css");
@import url("components/Header/header.css");
@import url("components/QuizGrid/quizGrid.css");
@import url("components/Navigation/navigation.css");
@import url("pages/HomePage/homePage.css");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
